.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.paragrah {
  max-width: 350px;
  text-align: center;
  margin: 0 auto;
}

img {
  width: 70px;
  margin: 30px auto;
}